<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Freeman&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sedan+SC&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sedan+SC&display=swap" rel="stylesheet">
	<title>Moviedle</title>
	<style>
		body { 
			text-align: center;
			background-color: cadetblue;
		}

		h1{
			font-family: "Freeman", sans-serif;
			font-weight: 900;
			font-style: normal;
			font-size: 100px;
			letter-spacing: 10px;
			margin-bottom: 0;
			margin-top: 0;
		}

		a{
			background-color: darkslategray;
			color: lightgray;
			padding: 30px 50px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 30px;
			font-family: "Roboto Mono", monospace;
			font-optical-sizing: auto;
			font-weight: 500;
			font-style: normal;
		}

		a:hover{
			background-color: grey;
			color: white;
		}

		
	</style>
</head>

<body>
	<h1>MOVIEDLE</h1>
	<br>
	<a href="/guess" >Guess the movie!</a>
	<br><br>
	<a href="/scores" >Check Scores</a>
</body>

</html>
